@import "~common_css/app.less";

.nav {
  position: sticky;
  overflow: hidden;
  top: 0;
  width: 100%;
  padding: 0;
  background-color: @col1;
}

.link, .link:focus{
  float: left;
  color: #144571;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 17px;
}

.link:visited, .link:hover {
  background-color: @back;
  color: black;
  text-decoration: none;
}
