.main:not(:empty) {
  float: left;
  display: flex;
  width: 100%;
  * {
    padding-right: 5px;
  }
}
.main:empty {
  display: none;
}
.tag {
  color: #3caf47;
  font-family: Sniglet;
  font-size: 0.9em;
  text-decoration-line: none;
}
